{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon" />
        <title>Food Tracker</title>

        <script src="{% static 'mainpage/script.js' %}" defer type="module"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>

    <body>
        {% csrf_token %}
        <nav class="navbar">
            <h1 class="navbar__logo" />Food Tracker</h1>

            <div class="auto-left">
                <button class="navbar__button" type="button" id="add-device">Add</button>
            </div>
        </nav>

        <header class="filters">
            <button type="button" class="filters__button" id="today">Today</button>
            <button type="button" class="filters__button" id="yesterday">Yesterday</button>
            <button type="button" class="filters__button" id="this-week">This Week</button>
            <button type="button" class="filters__button" id="last-week">Last Week</button>
            <button type="button" class="filters__goal">Kcal Wallet Remaining: <span id="remaining">    </span></button>
        </header>

        <main class="table-container">
            <table class="table" id="device-table">
                <thead>
                    <tr>
                        <th class="head-sort">Food Name</th>
                        <th class="head-sort">Date</th>
                        <th class="head-sort">Time</th>
                        <th class="head-sort">Calories</th>
                        <th class="head-sort">Carbs</th>
                        <th class="head-sort">Fats</th>
                        <th class="head-sort">Protein</th>
                        <th class="head-sort">Fiber</th>
                        <th class="head-sort">Sodium</th>
                    </tr>
                </thead>
                <tbody id = "food-entry-table">
                </tbody>
                <tfoot id="entry-footer">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="total-kcal">0<span>kcal</span></td>
                        <td class="total-carb">0<span>g</span></td>
                        <td class="total-fats">0<span>g</span></td>
                        <td class="total-prot">0<span>g</span></td>
                        <td class="total-fibe">0<span>g</span></td>
                        <td class="total-sodi">0<span>mg</span></td>
                    </tr>
                </tfoot>
            </table>
        </main>

        <div class="hide modal" id="main-modal">
            <div id="black-screen" class="hide close-modal modal__background"></div>

            <div class="hide modal__window">
                <div class="modal__body">
                    <h1 class="modal__title">Add Entry</h1>

                    <form class="form" id="form-food">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                        <p id="name_error" class="error-message"></p>

                        <label for="date">Date</label>
                        <input type="date" name="date" id="date" />
                        <p id="date_error" class="error-message"></p>

                        <label for="time">Time</label>
                        <input type="time" name="time" id="time" />
                        <p id="time_error" class="error-message"></p>
                        <div class="food-table-container">
                            <table class="food-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Kcal</th>
                                        <th>Carbs (g)</th>
                                        <th>Fats (g)</th>
                                        <th>Protein (g)</th>
                                        <th>Fibers (g)</th>
                                        <th>Sodium (mg)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="ingredient-table">
                                    <tr class="food-table-entry">
                                        <td><input type="text" class="name"></td>
                                        <td><input type="number" class="kcal"></td>
                                        <td><input type="number" class="carb"></td>
                                        <td><input type="number" class="fats"></td>
                                        <td><input type="number" class="prot"></td>
                                        <td><input type="number" class="fibe"></td>
                                        <td><input type="number" class="sodi"></td>
                                    </tr>
                                </tbody>
                                <tfoot id="ingredient-footer">
                                    <tr>
                                        <td>Total</td>
                                        <td><span class="kcal"></span><span>kcal</span></td>
                                        <td><span class="carb"></span><span>g</span></td>
                                        <td><span class="fats"></span><span>g</span></td>
                                        <td><span class="prot"></span><span>g</span></td>
                                        <td><span class="fibe"></span><span>g</span></td>
                                        <td><span class="sodi"></span><span>mg</span></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="add-button-container">
                                <button type="button" class="modal__button--special" id="add-ingredient">Add</button>
                                <button type="button" class="modal__button--special">Add From Template</button>
                            </div>
                        </div>

                        <div class="modal__button-group auto-top">
                            <button type="button" class="modal__button--special" id="save-food">Save</button>
                            <button type="button" class="modal__button--danger" id="delete-food">Eliminar</button>
                            <button type="button" class="modal__button close-modal">Back</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="hide modal__window">
                <div class="modal__body">
                    <h4 class="modal__title">Remover Dispositivo</h4>

                    <p class="center-text">Tem certeza que deseja remover o dispositivo selecionado?</p>
                    <div class="modal__button-group auto-top">
                        <button type="submit" class="modal__button--danger" id="confirm-delete">Remover</button>
                        <button type="button" class="modal__button go-to-add">Voltar</button>
                    </div>
                </div>
            </div>

            <div class="hide modal__window">
                <div class="modal__body">
                    <h4 class="modal__title">Carregando</h4>

                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </body>
</html>
