{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Inventário</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav class="navbar"><img src="{% static 'logo.png' %}" class="navbar__logo" /></nav>

    <div class="login-container">
      <div class="login-form">
        <h1 class="modal__title">Acessar Inventário</h1>
        <form action="{% url 'login_page' %}" method="POST" class="form">
          <label for="username">Usuário:</label>
          <input type="text" name="username" id="username" />

          <label for="password">Senha:</label>
          <input type="password" name="password" id="password" />

          {% csrf_token %}
          <div class="auto-left">
            <button type="submit" class="modal__button--special">Acessar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
