* {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
}

.table-container {
  flex-grow: 1;
  overflow-y: scroll;
}
.table-container tbody,
.table-container thead,
.table-container table {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
}

.table {
  width: 100%;
}
.table tbody {
  height: 100%;
}
.table thead th {
  padding: 0.6rem 0.4rem;
  border-bottom: 1px solid #d5d5d5;
}
.table tbody tr {
  background-color: #f5f5f5;
}
.table tbody tr:nth-child(odd of :not(.hide)) {
  background-color: #eeeeee;
}
.table tbody tr:hover {
  background-color: #d5d5d5;
}
.table tbody td {
  border-bottom: 1px solid #d5d5d5;
  padding: 0.6rem 0.4rem;
}

.navbar {
  width: 100vw;
  background-color: #2175d4;
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
}
.navbar__logo {
  width: 128px;
  height: fit-content;
}
.navbar__button {
  background-color: transparent;
  border: 2px solid #f5f5f5;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.2rem 1rem;
  color: #f5f5f5;
  transition: 0.15s;
  border-radius: 0.2rem;
  margin: 0 0.2rem;
  font-weight: bold;
}
.navbar__button:hover {
  background-color: #f5f5f5;
  color: #050505;
}
.navbar__button:active {
  background-color: #d5d5d5;
  color: #050505;
  border: 2px solid #d5d5d5;
}

.filters {
  width: 100vw;
  background-color: #050505;
  display: flex;
  padding: 0.4rem 1rem;
}
.filters__button {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  color: #f5f5f5;
  transition: 0.15s;
  margin: 0 0.2rem;
  font-weight: bold;
}
.filters__button:hover {
  background-color: #f5f5f5;
  color: #050505;
}
.filters__button:active {
  background-color: #d5d5d5;
  color: #050505;
}

.detail-table {
  display: grid;
  grid-template-columns: 12rem auto;
  padding: 0.5rem;
}
.detail-table thead * {
  background-color: transparent !important;
}

.selected {
  background-color: #155398;
}

/* -- Modal -- */
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.modal__background {
  background-color: black;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.modal__window {
  background-color: #f5f5f5;
  width: 700px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 3;
  overflow-y: auto;
}
.modal__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0rem;
}
.modal__title {
  font-size: 1.5rem;
  margin: 1rem auto;
}
.modal__button {
  background-color: transparent;
  transition: 0.15s;
  border-radius: 0.2rem;
  border: 2px solid #050505;
  padding: 0.2rem 1rem;
  margin: 0 0.2rem;
  color: #050505;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.modal__button:hover {
  background-color: #050505;
  color: #f5f5f5;
}
.modal__button:active {
  background-color: #222;
  color: #f5f5f5;
  border: 2px solid #222;
}
.modal__button--special {
  background-color: transparent;
  transition: 0.15s;
  border-radius: 0.2rem;
  border: 2px solid #2175d4;
  padding: 0.2rem 1rem;
  margin: 0 0.2rem;
  color: #2175d4;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.modal__button--special:hover {
  background-color: #2175d4;
  color: #f5f5f5;
}
.modal__button--special:active {
  background-color: #1a5eaa;
  color: #f5f5f5;
  border: 2px solid #1a5eaa;
}
.modal__button--danger {
  background-color: transparent;
  transition: 0.15s;
  border-radius: 0.2rem;
  border: 2px solid #d42121;
  padding: 0.2rem 1rem;
  margin: 0 0.2rem;
  color: #d42121;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.modal__button--danger:hover {
  background-color: #d42121;
  color: #f5f5f5;
}
.modal__button--danger:active {
  background-color: #aa1a1a;
  color: #f5f5f5;
  border: 2px solid #aa1a1a;
}
.modal__button-group {
  display: flex;
  margin: 0 0 0 auto;
  padding: 2rem 0;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 0 0.2rem;
}
.form input,
.form select,
.form option {
  font-size: 0.9rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid #d5d5d5;
  background-color: #f5f5f5;
}

/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */
/* ------------------------------- Formularios ------------------------------ */
/* -- detalhes do dispositivo -- */
#device-detail h5 {
  font-size: 1rem;
  font-weight: bold;
}
#device-detail span {
  font-weight: 500;
}

/* --------------------------------- Tabela --------------------------------- */
th {
  padding-left: 0.5rem;
  text-align: left;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

td {
  padding-left: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                    Login                                   */
/* -------------------------------------------------------------------------- */
.login-container {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 50%, 600px);
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 2rem auto;
}
.login-form h3 {
  margin: 0 auto;
}
.login-form label {
  font-size: 1rem;
  font-weight: bold;
  margin: 16px 0 8px;
}
.login-form form {
  display: flex;
  flex-direction: column;
}
.login-form form button {
  margin-top: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                               Tela de Reparos                              */
/* -------------------------------------------------------------------------- */
.repair-table tr {
  display: grid;
  grid-template-columns: 6rem auto 7rem 3rem 3rem;
  gap: 0;
}
.repair-table td,
.repair-table th {
  height: 100%;
  margin: auto 0;
}
.repair-table td button {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  padding: 0.2rem 0 !important;
  margin: 0 !important;
}

.hide {
  display: none;
}

.flexer {
  flex-grow: 1;
}

.auto-left {
  margin-left: auto !important;
}

.auto-top {
  margin-top: auto !important;
}

.warning {
  color: #d42121;
}

.center-text {
  text-align: center;
}

.spinner {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.3rem solid #f5f5f5;
  border-top: 0.3rem solid #2175d4;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-message {
  color: #d42121;
  white-space: pre-wrap;
  margin-top: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
